body{
    background-color: aliceblue;
}
.a{
    width: 700px;
    height:730px;
    background-color: white;
    text-align: center;
    margin-left: 250px;
    padding-top: 5px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(83, 188, 248);
    border-radius: 20px;
    margin-top: 100px;
    padding-bottom: 10px;
}
.a1{
    width:550px;
    height: 40px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(83, 188, 248);
    background-color: aliceblue;
    border-radius: 10px;
    border-color: rgb(83, 188, 248);
    font-size: 15px; 
    overflow: hidden;
    overflow:scroll;
}
.a2{
    width:550px;
    height:100px;
    border-color: rgb(83, 188, 248);
    border-radius: 10px;
    font-size: 25px;
    color: rgb(83, 188, 248);
    background-color: aliceblue;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.a3{
    width:100px;
    height:30px;
    font-size: 15px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(83, 188, 248);
    background-color: aliceblue;
    border-color: rgb(83, 188, 248);
    border-radius: 10px;
}
.a4{
    width:550px;
    height:300px;
    border-color: rgb(83, 188, 248);
    border-radius: 10px;
    border:3px;
    font-size: 30px;
    color: rgb(83, 188, 248);
    background-color: aliceblue;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
    overflow:scroll;
    border-style:ridge;
}
